<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>kr.soulmat.meetingscribe.audiocapture</string>
  <key>CFBundleName</key>
  <string>MeetingScribe AudioCapture</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>녹음된 회의 음성을 텍스트로 변환하기 위해 음성 인식을 사용합니다.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>회의 음성을 녹음하고 전사하기 위해 마이크를 사용합니다.</string>
  <key>NSAudioCaptureUsageDescription</key>
  <string>온라인 회의 상대방의 음성을 기록하기 위해 시스템 오디오를 녹음합니다.</string>
</dict>
</plist>
